@model DoctorAppointmentApp_MVC.ViewModels.PatientDoctorViewModel


<form method="post" asp-action="MakeAppointment">
    <div class="w-25">
         <div class="form-group ">
<select class="form-select" asp-for=Appointment.PatientId asp-items=@ViewBag.DDLPatients>
    <option value=0>Select Patient</option>
</select>

        <div class="form-group ">
<select class="form-select"  asp-for=Appointment.DoctorId asp-items=@ViewBag.DDLDoctors>
    <option value=0>Select Doctor</option>
</select>
    </div>
  
   <div class="form-group">
    <input class="form-control m-2" id="Contact" asp-for=Appointment.ReasonForAppointment placeholder="Enter Reason For Visit">
  </div>
   <div class="form-group">
    <input  class="form-control m-2" id="history" asp-for=Appointment.AppointmentDateTime >
  </div>
  <button type="submit" class="btn btn-primary m-2">Submit</button>
    
  </div>

</form>