
@model IEnumerable<DoctorAppointmentApp_MVC.Models.Patient>

<p class="alert alert-primary mt-4 p-2">Patient Details</p>


<table class="w-50 table table-bordered">
    <tr>
<th>
    Name
</th>
<th>
    Patient History 
</th>
<th>
    Action
    </th>

</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @item.PatientName
        </td>
        <td>@item.PatientHistory</td>
        <td>
            <a asp-action="GetPatient" asp-route-patientId=@item.PatientId class="btn-warning btn">Details</a>
        </td>
    </tr>
}

</table>