@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-info text-white rounded">
    <div class="container">
    <h1>Kiran's Appointment Application</h1>      
    <p>.Net Core Application for patient, doctor details. Application helps in making a doctor appointment</p>
  </div>
</div>
